name: Create container image on main

# This workflow builds a container image for each commit on the main branch.
# The image is tagged with the (short) commit ID, "main" and "0.1.0" (i.e. the
# development release), and pushed to Quay.

on:
    push:
        branches:
            - main
env:
    DEV_RELEASE: 0.1.0
    CONTAINER_REGISTRY: quay.io/redhat-certification
jobs:
    image:
      name: Build and push container images
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get commit ID
        id: get_commit_id
        run: |
          # Make the short commit ID available to the following steps.
          COMMIT_ID=$(git rev-parse --short HEAD)
          echo "commit_id=$COMMIT_ID" | tee -a $GITHUB_OUTPUT

      - name: Build container images
        id: build_container_images
        run: |
            podman version
            # Build podman images locally
            make build-image IMAGE_TAG=${{ steps.get_commit_id.outputs.commit_id }} QUAY_EXPIRE_AFTER=1w
            make build-image IMAGE_TAG=main
            podman tag ${{ env.CONTAINER_REGISTRY }}/chart-verifier:main ${{ env.CONTAINER_REGISTRY }}/chart-verifier:${{ env.DEV_RELEASE }}

      - name: Push to quay.io
        id: push_to_quay
        uses: redhat-actions/push-to-registry@v2
        with:
          image: chart-verifier
          tags: |
            ${{ steps.get_commit_id.outputs.commit_id }}
            main
            ${{ env.DEV_RELEASE }}
          registry: quay.io/redhat-certification
          username: ${{ secrets.QUAY_BOT_USERNAME }}
          password: ${{ secrets.QUAY_BOT_TOKEN }}
