name: Python Style

on:
  pull_request:
    paths:
    # Only trigger on changes to Python source.
    - 'scripts/**.py'
    - 'tests/**.py'
    - 'scripts/requirements.txt'
    - 'scripts/pyproject.toml'
    - 'scripts/setup.py'
    - 'scripts/setup.cfg'

jobs:
  enforce:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false

    - name: Set up Python
      uses: ./.github/actions/setup-python

    - name: Install style tooling
      run: make venv.codestyle

    - name: Run formatter
      run: make py.ci.format

    - name: Run linter
      run: make py.lint
